<nav *ngIf="!isOnAccueilPage">
  <button mat-icon-button [matMenuTriggerFor]="nav_menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #nav_menu="matMenu">
    <button *ngIf="!isSignedIn" routerLink="/auth/signin" mat-menu-item>
      <span>Sign in</span>
    </button>
    <button *ngIf="!isSignedIn" routerLink="/auth/signup" mat-menu-item>
      <span>Sign up</span>
    </button>
    <button *ngIf="isSignedIn" routerLink="/dash/profile" mat-menu-item>
      <span>Profil</span>
    </button>
    <button *ngIf="isSignedIn" routerLink="/auth/accueil" mat-menu-item>
      <span>Accueil</span>
    </button>
    <button *ngIf="isSignedIn" (click)="signout()" mat-menu-item>
      <span>Sign out</span>
    </button>

  </mat-menu>
</nav>

<router-outlet></router-outlet>





